.footer {
    width: 100%;
    height: 100px;
    @extend %center;
    background: #ffffff;
    box-shadow: 0 -1.5px 3px rgba(0, 0, 0, 0.15);
    border-top: 1px solid #cccccc;
}

.footer-case {
    padding: 15px 0;
    @extend %sizes;
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* FOOTER CONTACTS */

.footer__contacts-case {
    width: 32.5%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.footer__contacts_title {
    display: flex;
    .fas {
        text-shadow: 1.5px 1.5px 3px rgba(0, 0, 0, 0.25);
        margin-right: 5px;
        font-size: 16px;
        color: #ff7675;
    }
}

.footer__contacts {
    width: auto;
    height: 100%;
    @extend %center;
    flex-flow: column;
    a {
        margin: 5px 0;
    }
}

/* FOOTER SOCNET */

.footer__soc {
    width: 32.5%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.footer__net {
    width: 100%;
    margin: 15px 0;
    padding: 5px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 3px solid #ff7675;
    border-bottom: 3px solid #ff7675;
}

.footer_item {
    width: 50px;
    height: 50px;
    @extend %center;
    color: #ffffff;
    text-decoration: none;
    background: #ffffff;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
    transition: all .2s linear;
    .fab {
        font-size: 30px;
        text-shadow: 1.5px 1.5px 3px rgba(0, 0, 0, 0.25);
    }
    &:hover {
        background: #ff7675;
    }
}

.facebook {
    background: #1B75BB;
}

.instagram {
    background: #9E5E4F;
}

.vkontakte {
    background: #1B75BB;
}

.youtube {
    background: #FF0000;
}

/* FOOTER APPS */

.footer__app {
    width: 32.5%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-end;
}

.footer__app_title {
    margin: 0 5px;
    @extend %center;
    flex-flow: column;
}

.footer_play {
    width: 75px;
    height: 50px;
    @extend %center;
    color: #ffffff;
    text-decoration: none;
    background: #38454F;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
    transition: all .2s linear;
    .fab {
        font-size: 30px;
        text-shadow: 1.5px 1.5px 3px rgba(0, 0, 0, 0.25);
    }
    .fa-google-play {
        transform: translateX(7.5%);
    }
    &:hover {
        background: #ff7675;
    }
}

.footer__h1 {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    font-weight:600;
    color: #38454F;
    letter-spacing: 3px;
}
