/* FONT TITLE */
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;500;600;700;800&display=swap');
/* FONT PARAGRAPH */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

%sizes {
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: none;
    border: none;
    outline: none;
    list-style-type: none;
}

/* HEADER */

.header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 2;
    top: 0;
    background: #ffffff;
    box-shadow: 0 1.5px 3px rgba(0, 0, 0, 0.15);
    border-bottom: 1px solid #cccccc;
}

/* HEADER MENU */

.nav {
    @extend %sizes;
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
}

/* HEADER MENU INFO */

.nav__info {
    min-width: 330px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.nav__contacts {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-right: 25px;
}

.nav__place {
    display: flex;
    align-items: center;
    .fas {
        margin-right: 2px;
        font-size: 20px;
        color: #ff7675;
    }
    h2 {
        font-family: 'Montserrat Alternates', sans-serif;
        font-size: 20px;
        font-weight:600;
        color: #38454F;
    }
}

/* HEADER MENU LOGO */

.nav__logo {
    justify-self: center;
    align-self: center;
    display: flex;
    color: #38454F;
    text-decoration: none;
    transition: color 0.15s linear;
    &:hover {
        color: #ff7675;
    }
    img {
        width: 65px;
    }
}

.nav__logo_text {
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding-left: 10px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 35px;
    font-weight:800;
    line-height: 25px;
    span:first-child {
        font-size: 30px;
        font-weight:800;
    }
}

/* HEADER MENU ACCOUNT */

.nav__acc {
    min-width: 300px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav__login {
    display: flex;
    align-items: center;
    justify-content: center;
    a:last-child {
        margin-left: 25px;
    }
}

.nav__cart {
    width: 75px;
    height: 75px;
    margin-left: 25px;
    position: relative;
    text-decoration: none;
    &:hover .fas {
        color: #FFFFFF;
        background: #ff7675;
    }
    &:hover .nav__sum {
        color: #FFFFFF;
        background: rgba(0, 0, 0, 0);
    }
}

.nav__cart > i {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    color: #ff7675;
    transition: all 0.2s linear;
}

.nav__sum {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    transform: translate3d(-4px, 10px, 0);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #333333;
    font-size: 18px;
    transition: all 0.2s linear;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.2);
}

/* HEADER NAV LINKS*/

.nav__links {
    position: relative;
    text-decoration: none;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 16px;
    font-weight:400;
    color: #38454F;
    .fas {
        margin-right: 2px;
    }
}

.hover-line {
    &::after {
            content: "";
            width: 0;
            height: 1px;
            display: block;
            position: absolute;
            z-index: 1;
            bottom: -3px;
            left: 50%;
            transform: translateX(-50%);
            transition: all .2s ease-in-out;
            background: #ff7675;
        }
    &:hover, {
        color: #ff7675;
    }
    &:hover::after {
        width: 100%;
    }
}

/* MAIN */

.main {
    width: 100%;
    padding-top: 100px;
    background: #eeeeee;
}

/* MAIN DISCOUNT SLIDER */

.slider {
    width: 100%;
    height: 500px;
    position: relative;
    overflow: hidden;
    &:hover .slide {
        transform: scale(1.05);
    }
}

.slide {
    width: inherit;
    height: inherit;
    transition: all 0.2s linear;
    background: no-repeat center url('../img/main/background.jpg');
/* background-attachment: fixed; */
}

.slider__arrow {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    border-radius: 50%;
    background-color:rgba(56, 69, 79, 0.5);
    cursor: pointer;
    .fas {
        font-size: 50px;
        color: #ffffff;
    }
}

.slider__arrow_left {
    top: 50%;
    left: -25%;
    transform: translateY(-50%);
    .fas {
        transform: translateX(-10%);
    }
}

.slider__arrow_right {
    top: 50%;
    right: -25%;
    transform: translateY(-50%);
    .fas {
        transform: translateX(10%);
    }
}

.title {
    width: 475px;
    height: 130px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color:rgba(56, 69, 79, 0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    z-index: 1;
    &::after {
        content: "";
        width: 2px;
        height: 100px;
        display: block;
        position: absolute;
        z-index: 1;
        right: -1px;
        top: 50%;
        transform: translateY(-50%);
        background: #eeeeee;
    }
    &::before {
        content: "";
        width: 2px;
        height: 100px;
        display: block;
        position: absolute;
        z-index: 1;
        left: -1px;
        top: 50%;
        transform: translateY(-50%);
        background: #eeeeee;
    }
}

.title__sub {
    position: relative;
    font-family: "Montserrat Alternates", sans-serif;
    text-transform: uppercase;
    font-size: 50px;
    line-height: 50px;
    font-weight: 800;
    color: #ffffff;
    &::before {
        content: "";
        width: 575px;
        height: 2px;
        display: block;
        position: absolute;
        z-index: 1;
        top: -15px;
        left: 50%;
        transform: translateX(-50%);
        background: #eeeeee;
    }

}

.title__sup {
    position: relative;
    font-family: "Montserrat Alternates", sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 50px;
    font-weight: 700;
    color: #ffffff;
    &::after {
        content: "";
        width: 575px;
        height: 2px;
        display: block;
        position: absolute;
        z-index: 1;
        bottom: -15px;
        left: 50%;
        transform: translateX(-50%);
        background: #eeeeee;
    }
}

/* MAIN FOOD CARDS */

.food {
    display: flex;
    flex-flow: column;
    align-items: center;
}

/* FOOD CARDS LINKS */

.links {
    @extend %sizes;
    height: auto;
    margin: 35px 0;
}

.links__btns {
    display: flex;
    align-items: center;
}

.links__img {
    width: 25px;
    height: 25px;
}

.btn-case {
    height: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
    border-right: 1px solid #38454F;
    &:first-child {
        padding-left: 0;
    }
    &:last-child {
        border-right: none;
        padding-right: 0;
    }
}

.btn {
    position: relative;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 20px;
    font-weight:400;
    color: #38454F;
    cursor: pointer;
}

/* FOOD CARDS */

.card-case {
    @extend %sizes;
    height: auto;
}

.card {

}

/* X */

.x {

}

/* FOOTER */

.footer {

}
