/* FONT TITLE */
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;500;600;700;800&display=swap');
/* FONT PARAGRAPH */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

%sizes {
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
}

%center {
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: none;
    border: none;
    outline: none;
    list-style-type: none;
}
