<div class="card card-category__{{% category %}}" data-id="{{% id %}}">
    <div class="card__img-case">
        <img class="card__img" src="{{% imgSrc %}}">
    </div>
    <div class="card__text">
        <div class="card-logo-case">
            <img class="card__logo" src="img/main/links_logo.svg">
        </div>
        <div class="card__title">
            <h1>{{% name %}}</h1>
        </div>
        <div class="card__price">
            <span class="card__price_sum">{{% price %}} Р</span>
            <div class="card__price_buy">
                <button class="card__price_buy" data-onclick="addToBasket" id="card__buy-button">Купить</button>
                <div class="card__gramm">
                    <h2>{{% gram %}} Грамм</h2>
                </div>
            </div>
        </div>
    </div>
</div>